{% extends 'CoreSphereStaticBundle:Page:layout.html.twig' %}

{% block title %}
    {{ 'headline.staticbundle_page_edit'|trans }}
{% endblock %}

{% block content %}
    <h1 class="main_headline">{{ 'headline.staticbundle_page_edit'|trans }}</h1>

    <form action="{{ path('page_update', { 'slug': persisted_slug }) }}" method="post" {{ form_enctype(edit_form) }}>
        {{ form_widget(edit_form) }}
        <p>
            <button type="submit" class="button">{{ 'action.staticbundle_page_edit'|trans }}</button>
        </p>
    </form>

    <ul class="record_actions_row">
        <li>
            <a href="{{ path('page') }}">
                {{ 'action.staticbundle_page_to_index'|trans }}
            </a>
        </li>
        <li>
            <form action="{{ path('page_delete', { 'slug': entity.slug }) }}" method="post">
                {{ form_widget(delete_form) }}
                <button type="submit" class="link_button">{{ 'action.staticbundle_page_delete'|trans }}</button>
            </form>
        </li>
    </ul>
{% endblock %}
