{% extends 'CoreSphereStaticBundle:Page:layout.html.twig' %}

{% block title %}
{{ 'headline.page_index'|trans }}
{% endblock %}

{% block content %}
<h2>{{ 'headline.page_index'|trans }} - {{ 'action.page_edit'|trans }}</h2>

<form action="{{ path('page_update', { 'slug': entity.slug }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit">{{ 'action.page_edit'|trans }}</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('page') }}">
            {{ 'action.page_to_index'|trans }}
        </a>
    </li>
    <li>
        <form action="{{ path('page_delete', { 'slug': entity.slug }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">{{ 'action.page_delete'|trans }}</button>
        </form>
    </li>
</ul>
{% endblock %}
