{% extends 'CoreSphereStaticBundle:Page:layout.html.twig' %}

{% block title %}
    {{ 'headline.staticbundle_page_index'|trans }}
{% endblock %}

{% block content %}
  <h1 class="main_headline">{{ 'headline.staticbundle_page_index'|trans }}</h1>
	<table class="records_list">
    	<thead>
    		<tr>
    			<th>{{ 'attribute.staticbundle_page_title'|trans }}</th>
    			<th>{{ 'attribute.staticbundle_page_content'|trans }}</th>
    			<th>{{ 'attribute.staticbundle_page_createdAt'|trans }}</th>
    			<th>{{ 'attribute.staticbundle_page_publishedAt'|trans }}</th>
    			<th>{{ 'attribute.staticbundle_page_updatedAt'|trans }}</th>
    			<th>{{ 'attribute.staticbundle_page_slug'|trans }}</th>
    			<th></th>
    		</tr>
    	</thead>
    	<tbody>
    	{% for entity in entities %}
    			<tr>
					<td>{{ entity.title }}</td>
					<td>{{ entity.content|truncate(20) }}</td>
					<td><time datetime="{{ entity.createdAt|date('Y-m-d\\TH:i:sP') }}">{{ entity.createdAt|date('Y-m-d H:i') }}</time></td>
					<td><time datetime="{{ entity.publishedAt|date('Y-m-d\\TH:i:sP') }}">{{ entity.publishedAt|date('Y-m-d H:i') }}</time></td>
					<td><time datetime="{{ entity.updatedAt|date('Y-m-d\\TH:i:sP') }}">{{ entity.updatedAt|date('Y-m-d H:i') }}</time></td>
					<td>{{ entity.slug }}</td>
					<td>
						<ul class="record_actions">
							<li>
								<a href="{{ path('page_show', { 'slug': entity.slug }) }}">{{ 'action.staticbundle_page_show'|trans }}</a>
							</li>
							<li>
					        	<a href="{{ path('page_edit', { 'slug': entity.slug }) }}">{{ 'action.staticbundle_page_edit'|trans }}</a>
							</li>
						</ul>
					</td>
    			</tr>
    	{% endfor %}
    	</tbody>
	</table>

	<ul class="record_actions_row">
		<li>
			<a href="{{ path('page_new') }}">{{ 'action.staticbundle_page_new_page'|trans }}</a>
		</li>
	</ul>
{% endblock %}