{% extends 'CoreSphereStaticBundle:Page:layout.html.twig' %}

{% block title %}
{{ 'headline.page_index'|trans }}
{% endblock %}

{% block content %}
<h2>{{ 'headline.page_index'|trans }} - {{ 'action.page_create'|trans }}</h2>

<form action="{{ path('page_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">{{ 'action.page_create'|trans }}</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('page') }}">
            {{ 'action.page_to_index'|trans }}
        </a>
    </li>
</ul>
{% endblock %}
