{% extends 'CoreSphereStaticBundle:Page:layout.html.twig' %}

{% block title %}
    {{ 'headline.staticbundle_page_edit'|trans }}
{% endblock %}

{% block content %}
    <h1 class="main_headline">{{ 'headline.staticbundle_page_edit'|trans }}</h1>

    <form action="{{ path('page_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <div class="form-actions">
            <button type="submit" class="button">{{ 'action.staticbundle_page_create'|trans }}</button>
        </div>
    </form>

    <ul class="record_actions_row">
        <li>
            <a href="{{ path('page') }}">
                {{ 'action.staticbundle_page_to_index'|trans }}
            </a>
        </li>
    </ul>
{% endblock %}
