{% extends 'CoreSphereStaticBundle:Page:layout.html.twig' %}

{% block title %}
    {{ entity.title }}
{% endblock %}

{% block content %}
    <h1 class="main_headline">{{ entity.title }}</h1>

    <div class="rich_text spaced_box">
    	{{ entity.content|raw }}
    </div>

    <dl class="record_properties">
        <dt>{{ 'attribute.staticbundle_page_id'|trans }}</dt>
        <dd>{{ entity.id }}</dd>

        <dt>{{ 'attribute.staticbundle_page_createdAt'|trans }}</dt>
        <dd>
            <time datetime="{{ entity.createdAt|date('Y-m-d\TH:i:sP') }}">
                {{ entity.createdat|date('Y-m-d H:i:s') }}
            </time>
        </dd>

        <dt>{{ 'attribute.staticbundle_page_publishedAt'|trans }}</dt>
        <dd>
            <time datetime="{{ entity.publishedAt|date('Y-m-d\TH:i:sP') }}">
                {{ entity.publishedat|date('Y-m-d H:i:s') }}
            </time>
        </dd>

        <dt>{{ 'attribute.staticbundle_page_updatedAt'|trans }}</dt>
        <dd>
            <time datetime="{{ entity.updatedAt|date('Y-m-d\TH:i:sP') }}">
                {{ entity.updatedat|date('Y-m-d H:i:s') }}
            </time>
        </dd>
    </dl>

    <ul class="record_actions_row">
        <li>
            <a href="{{ path('page') }}">{{ 'action.staticbundle_page_to_index'|trans }}</a>
        </li>
        <li>
            <a href="{{ path('page_edit', { 'slug': entity.slug }) }}">{{ 'action.staticbundle_page_edit'|trans }}</a>
        </li>
        <li>
            <form action="{{ path('page_delete', { 'slug': entity.slug }) }}" method="post">
                {{ form_widget(delete_form) }}
                <button type="submit" class="dangerous link_button" data-confirm="{{ 'action.staticbundle_page_confirm'|trans }}">
                    {{ 'action.staticbundle_page_delete'|trans }}
                </button>
            </form>
        </li>
    </ul>
{% endblock %}
