{% extends 'CoreSphereStaticBundle:Page:layout.html.twig' %}

{% block title %}
{{ 'headline.page_index'|trans }}
{% endblock %}

{% block content %}
<h2>{{ entity.title }}</h2>

<div class="record_show">
		{{ entity.content }}
</div>

<br />

<table class="record_permalink">
    <tbody>
        <tr>
            <th>{{ 'attribute.page_permalink'|trans }}</th>
												<td><a href="{{ entity.permalink }}" target="_blank">{{ entity.permalink }}</a></td>
								</tr>
    </tbody>
</table>

<br />

<table class="record_properties">
    <tbody>
        <tr>
												<th>{{ 'attribute.page_id'|trans }}</th>
												<th>{{ 'attribute.page_created_at'|trans }}</th>
												<th>{{ 'attribute.page_published_at'|trans }}</th>
												<th>{{ 'attribute.page_updated_at'|trans }}</th>
								</tr>
        <tr>
												<td>{{ entity.id }}</td>
												<td>{{ entity.createdat|date('Y-m-d H:i:s') }}</td>
												<td>{{ entity.publishedat|date('Y-m-d H:i:s') }}</td>
												<td>{{ entity.updatedat|date('Y-m-d H:i:s') }}</td>
								</tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('page') }}">
            {{ 'action.page_to_index'|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('page_edit', { 'id': entity.id }) }}">
            {{ 'action.page_edit'|trans }}
        </a>
    </li>
    <li>
        <form action="{{ path('page_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">{{ 'action.page_delete'|trans }}</button>
        </form>
    </li>
</ul>
{% endblock %}
