<div class="block">
    {% if count > 0 %}
        <h2>
            <span><small>[{{ count - position + 1 }}/{{ count + 1 }}]</small></span>
            {{ exception.class|abbr_class }}: {{ exception.message|replace({ "\n": '<br />' }) }}
        </h2>
    {% else %}
        <h2>Stack Trace</h2>
    {% endif %}

    <a id="traces_link_{{ position }}"></a>
    <ol class="traces list_exception" id="traces_{{ position }}">
        {% for i, trace in exception.trace %}
            <li>
                {% include 'CoreSphereCoreBundle:Exception:trace.html.twig' with { 'prefix': position, 'i': i, 'trace': trace } only %}
            </li>
        {% endfor %}
    </ol>
</div>