{% extends 'CoreSphereUserBundle:Frontend:layout.html.twig' %}

{% block title %}
{{ 'headline.user_new'|trans }}
{% endblock %}

{% block content %}
    <h2>{{ 'headline.user_new'|trans }}</h2>

    <form action="{{ path('create_user') }}" method="post" {{ form_enctype(form) }}>
        {% include "CoreSphereUserBundle:Frontend:form.html.twig" %}
        <p>
            <input type="submit" value="{{ 'button.user_create'|trans }}" />
        </p>
    </form>

    <div class="options">
        <ul>
            {#% if is_granted('ROLE_LIST_USER') %#}
            <li><a href="{{ path('list_users') }}">{{ 'link.user_list'|trans }}</a></li>
            {#% endif %#}
        </ul>
    </div>
{% endblock %}