{% extends 'CoreSphereUserBundle:Frontend:layout.html.twig' %}

{% block content %}
    <h2>{{ 'headline.show'|trans({'%username%': user.username}) }}</h2>
    <dl>
        <dt>{{ 'attribute.user_email'|trans }}</dt>
        <dd>{{ user.email }}</dd>
    </dl>

    {{ user.description }}

    <div class="options">
        <ul>
            {#% if is_granted('ROLE_UPDATE_USER', user) %#}
            <li><a href="{{ path('edit_user', {'id':user.id}) }}">{{ 'link.edit'|trans }}</a></li>
            {#% endif %#}
            {#% if is_granted('ROLE_LIST_USER') %#}
            <li><a href="{{ path('list_users') }}">{{ 'link.list'|trans }}</a></li>
            {#% endif %#}
        </ul>
    </div>
{% endblock %}