{% extends 'CoreSphereLoginBundle:Widget:layout.html.twig'  %}

{% block loggedin %}
    {{ "message.login_welcome"|trans({'%username%':user.username}) }}
    |
    <a href="{{ path('logout') }}">{{ "link.login_delete"|trans }}</a>
{% endblock %}

{% block loggedout %}
    <a href="{{ path('login') }}">{{ "link.login_new"|trans }}</a>
{% endblock %}